<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)"  >
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de': 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" name="tipo"
          [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="vencimento"
          [yearNavigator]="true" yearRange="2000:2099" [monthNavigator]="true"
          [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel"
          required ></p-calendar>

        <app-message [control]="vencimento" error="required"
          text="Informe uma data de vencimento!"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="pagamento"
          [yearNavigator]="true" yearRange="2000:2099" [monthNavigator]="true"
          [(ngModel)]="lancamento.dataPagamento" #pagamento="ngModel" ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          [(ngModel)]="lancamento.descricao" #descricao="ngModel"
          required minlength="5" >

        <app-message [control]="descricao" error="required"
          text="Informe uma descrição!"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{descricao.errors?.minlength?.requiredLength}} caracteres. Você digitou apenas {{descricao.errors?.minlength?.actualLength}}."></app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor"
          currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="lancamento.valor" #valor="ngModel"
          required >
        <app-message [control]="valor" error="required"
          text="Informe um valor!"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" optionLabel="label"
          name="categorias" [(ngModel)]="lancamento.categoria"
          required ></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" optionLabel="label"
          name="pessoas" [(ngModel)]="lancamento.pessoa"
          required ></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
          [(ngModel)]="lancamento.observacao" #observacao="ngModel" ></textarea>
      </div>

      <div class="ui-g-offset-6 ui-g-6 ui-md-offset-10 ui-md-2 ui-fluid" *ngIf="!lancamento.anexo" >
        <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000"
          chooseLabel="Anexar" accept="image/*,application/*" [url]="urlUploadAnexo"
          (onUpload)="aoTerminarUploadAnexo($event)" >
        </p-fileUpload>
      </div>

      <div class="ui-g-12 ui-fluid">
        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
          [href]="lancamento.urlAnexo" >{{nomeAnexo}}</a>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="botaoApp" [disabled]="f.invalid || salvando" >
          <span [hidden]="!salvando">
            <i class="pi pi-spinner pi-spin"></i>
          </span>
        </button>

        <button pButton type="button" label="Novo"
          class="botaoApp ui-button-info" [disabled]="salvando"
          (click)="novo(f)" ></button>

        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
